<!--đặt hàng-->
{% extends 'app/base.html' %}
{% load static %}

{% block conten_booking %}
<h1>ĐIỂM DU LỊCH</h1>

<div style="display:grid; grid-template-columns:repeat(3,1fr); gap:20px;">
    {% for diemden in DiemDuLich %}
    <div style="border:1px solid #ccc; padding:10px; border-radius:6px;">

        <img src="{{ diemden.hinhAnhURL }}"
            style="width:100%; height:200px; object-fit:cover; border-radius:6px;">

        <h5 style="margin-top:10px;">
            <strong>{{ diemden.ten }}</strong>
        </h5>

        <p class="mo-ta text-collapse">
            {{ diemden.moTa }}
        </p>

        <span class="xem-them" onclick="toggleMoTa(this)">Xem thêm</span>
        <br>

        <a href="{% url 'chiTietDiem' diemDen.id %}">Xem chi tiết</a> |
        <a href="{% url 'gioHang' %}">Dịch vụ</a>

    </div>
    {% endfor %}
</div>
</br></br></br>
{% endblock conten_booking %}
