<!--chi tiết điểm-->
{% extends 'app/base.html' %}
{% load static %}

{% block conten_booking %}

<h2>{{ diem.ten }}</h2>
<p>
    {{ diem.diaChi }}
</p>

{% if diem.hinhAnh %}
    <img src="{{ diem.hinhAnh.url }}" alt="{{ diem.ten }}" width="400">
{% else %}
    <p>Chưa có hình ảnh</p>
{% endif %}

<p>
    {{ diem.moTa }}
</p>

<p><strong>Giá tham khảo:</strong>
    {{ diem.giaThamKhao }} VNĐ
</p>
<a href="{% url 'gioHang' %}">Dịch vụ</a>


<!-- ===== FORM ĐÁNH GIÁ ===== -->
<h3>Đánh giá của bạn</h3>

{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}

    <label>Xếp hạng:</label><br>
    {{ form.soSao }}

    <br><br>
    <label>Nội dung đánh giá:</label><br>
    {{ form.noiDungBinhLuan }}

    <br><br>
    <button type="submit" class="btn btn-primary">
        Gửi đánh giá
    </button>
</form>
{% else %}
<p>
    <a href="{% url 'login' %}">Đăng nhập</a> để đánh giá.
</p>
{% endif %}

<hr>

<!-- ===== DANH SÁCH ĐÁNH GIÁ ===== -->
<h3>Đánh giá từ người dùng</h3>

{% for dg in danhGiaList %}
<div style="border-bottom:1px solid #ddd; padding:10px 0">
    <strong>{{ dg.nguoiDung.username }}</strong>
    <span>
        {% for i in "12345" %}
            {% if forloop.counter <= dg.soSao %}
                ⭐
            {% endif %}
        {% endfor %}
    </span>

    <p>{{ dg.noiDungBinhLuan }}</p>
    <small>{{ dg.ngayDanhGia|date:"d/m/Y H:i" }}</small>
</div>
{% empty %}
<p>Chưa có đánh giá nào.</p>
{% endfor %}

</br></br></br>
{% endblock conten_booking %}